In [12]:
import sqlite3
import pandas as pd

db_name = '../fsv_archive.db'
conn = sqlite3.connect(db_name)

c = conn.cursor()

# Get a list of all tables in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()

table_counts = {}

for table_name_tuple in tables:
    table_name = table_name_tuple[0]
    c.execute(f'SELECT COUNT(*) FROM {table_name}')
    count = c.fetchone()[0]
    table_counts[table_name] = count

conn.close()

for table, count in table_counts.items():
    print(f'Table "{table}" has {count} rows.')

Table "Seasons" has 134 rows.
Table "sqlite_sequence" has 6 rows.
Table "Players" has 865 rows.
Table "Opponents" has 2314 rows.
Table "Player_Career" has 37034 rows.
Table "Matches" has 8641 rows.
Table "Opponent_Statistics" has 3900 rows.
Table "Goals" has 0 rows.

## Example Query: Top 10 Goal Scorers

In [13]:
conn = sqlite3.connect(db_name)
query = """
    SELECT p.player_name, COUNT(g.goal_id) as total_goals
    FROM Goals g
    JOIN Players p ON g.player_id = p.player_id
    GROUP BY p.player_name
    ORDER BY total_goals DESC
    LIMIT 10;
"""
top_scorers = pd.read_sql_query(query, conn)
conn.close()

top_scorers

Empty DataFrame
Columns: [player_name, total_goals]
Index: []